body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropArea{
  min-height:150px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 2px dashed rgb(150, 150, 150);
  color: rgb(150, 150, 150);
  font-size: 2rem;
  font-weight: bold;
  flex-direction: column;
}

.text-danger{
  color: red;
}

.remove{
  cursor: pointer;
  color: red;
  margin-left: 2rem;
}

.clearfix{
  margin-top: 1.5rem;
}

.downloader{
  cursor: pointer;
  color : rgb(50, 50, 207);
}

.dropList{
  border: 1px solid rgb(170, 170, 170);
  min-height: 4rem;  
}

.half{
  width: 50%;
}