body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropArea{
  min-height:150px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 2px dashed rgb(150, 150, 150);
  color: rgb(150, 150, 150);
  font-size: 2rem;
  font-weight: bold;
  flex-direction: column;
}

.displayNone {
  display: none;
}